.App {
  text-align: center;
}

.custom-tooltip {
  color: black;
  background-color: transparent !important;
  border: none !important;
  padding: 0;
  line-height: 0;
  text-shadow:
    1px 1px 0 white,
   -1px 1px 0 white,
    1px -1px 0 white,
   -1px -1px 0 white,
    0px 1px 0 white,
    0px -1px 0 white,
    1px 0px 0 white,
   -1px 0px 0 white;
}
.response {
  margin-top: 20px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 80%; /* 表示領域の幅を調整 */
  height: 130px; /* 高さを調整 */
  margin: 0 auto;
  border: 1px solid #ccc;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  animation: scroll-left 120s linear infinite; /* アニメーションを120秒でループ */
}

.marquee span {
  display: inline-block;
  padding-right: 400%; /* テキスト間のスペースを確保 */
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

